<!doctype html>
  <html class="no-js" lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Sinatra Sings Gemgem | Welcome</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
      <link rel="stylesheet" href="/app.css">
  </head>
  <body>

    <div class="navbar navbar-dark bg-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Trailblazer</a>
        <ul class="nav navbar-nav pull-xs-right">
          <!-- <li class="menu-text">Blog</li> -->
          <li class="nav-item"><a class="nav-link" href="/posts/new">New Post</a></li>
          <li class="nav-item"><a class="nav-link" href="/posts">All</a></li>
        </ul>
      </div>
    </div>
    div class="container-fluid"
      <div class="jumbotron">
        <div class="text-xs-center">
          <h1 class="display-1">Sinatra and Trailblazer</h1>
          <p>Our blog about high-level architecture and awesome software.</p>
        </div>
      </div>

      = yield

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>
